parameters:
	level: 5
	paths:
		- .
	scanFiles:
		- vendor/twig/twig/src/Extension/CoreExtension.php
	excludePaths:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.$#'
			path: DependencyInjection/Configuration.php
		-
			message: '#^Strict comparison using === between string and false will always evaluate to false\.$#'
			path: Twig/Extension/FormatNumberExtension.php
