parameters:
	level: 5
	paths:
		- .
	autoload_files:
		- vendor/twig/twig/src/Extension/CoreExtension.php
		# TODO remove for 3.0
		- Twig/Extension/ChangeLanguageExtension.php
	excludes_analyse:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.$#'
			path: DependencyInjection/Configuration.php
		-
			message: '#^Strict comparison using === between string and false will always evaluate to false\.$#'
			paths:
				- Twig/Extension/FormatDateTimeExtension.php
				- Twig/Extension/FormatNumberExtension.php
		# TODO remove for 3.0
		-
			message: '#^Comparison operation "<" between \d{5} and 30000 is always false\.$#'
			path: Twig/Extension/ChangeLanguageExtension.php
