{% use 'CraueTwigExtensionsBundle:ChangeLanguage:changeLanguage_blocks.html.twig' %}

{% spaceless %}
<ul>
	{% for locale in craue_availableLocales %}
		<li>
			{%- if locale == app.request.locale -%}
				{%- set craue_language_iscurrent = true -%}
				{{- block('craue_language_link_text') -}}
			{%- else -%}
				<a href="{{ block('craue_language_link_target') }}">
					{%- set craue_language_iscurrent = false -%}
					{{- block('craue_language_link_text') -}}
				</a>
			{%- endif -%}
		</li>
	{% endfor %}
</ul>
{% endspaceless %}
