{% block craue_language_list %}
	<ul>
		{% for locale in craue_availableLocales %}
			<li>
				{% if locale == app.session.locale %}
					{{ craue_languageName(locale) }}
				{% else %}
					<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.all
							| craue_cleanRouteParameters | merge({'_locale': locale})) }}"
						>{% block craue_language_linktext %}{{ craue_languageName(locale) }}{% endblock %}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
